@model Lab4_MVC_Mamani.Models.ClsTabla
@{
    ViewBag.Title = "Index";
}

<h2>Tabla de Multiplicar</h2>
<br />
@using (Html.BeginForm("GenerarTabla", "Tabla", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Numero, "Ingrese Numero :")
        @Html.EditorFor(model => model.Numero,new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Numero ,"Debe ingresar un Numero", new { @class = "form-control" })
    </div>
    <input class="btn btn-primary" type="submit" value="Generar"/>
    <br />
    
}

