
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/estilo.css")" />
    <meta name="viewport" content="width=device-width" />
    <title>Proyecto 4 MVC</title>
    <link href="~/Source/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Source/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Source/js/bootstrap.bundle.min.js"></script>
    <script src="~/Source/js/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


            <a class="navbar-brand" href="#">Proyecto MVC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ejercicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Tabla/Index">Tabla de multiplicar</a>
                            <a class="dropdown-item" href="~/Venta/Index">Venta Aleatoria</a>
                            <a class="dropdown-item" href="~/Venta2/CalcularVenta">Calcular Venta de Productos</a>
                            <a class="dropdown-item" href="~/Venta3/CalcularVenta">Calcular Venta de Productos - Listas</a>
                            <a class="dropdown-item" href="~/Juego/Index">Juego</a>
                            <a class="dropdown-item" href="~/Juego2/Index">Juego - Imagenes</a>
                            <a class="dropdown-item" href="~/Juego/Index">Juego</a>
                            <a class="dropdown-item" href="~/Cajero/Index">Cajero</a>
                            <a class="dropdown-item" href="~/Cajero2/Index">Cajero - Lista</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Encuesta/RealizarEncuesta">Encuesta</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="jumbotron">Proyecto 4 MVC</h1>
        @RenderBody()

    </div>
    <script src="~/Source/js/bootstrap.js"></script>
    <script src="~/Source/js/bootstrap.min.js"></script>
</body>
</html>
